# 升级pip
python -m pip install --upgrade pip

pip install transformers==4.33.1
pip install timm==0.4.12
pip install sentencepiece==0.1.99
pip install gradio==3.44.4
pip install markdown2==2.4.10
pip install xlsxwriter==3.1.2
pip install einops
pip install accelerate